<section class="mt-5 pt-5">
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="row justify-content-center">
                    <div class="card text-bg-success mb-5" style="max-width: 40rem;">
                        <div class="card-body">
                            <h3 class="card-text">Your order has been placed successfully </h3>
                        </div>
                    </div>
                </div>
                <a href="/all-orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>